@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?s0gjph');
	src:url('fonts/icomoon.eot?#iefixs0gjph') format('embedded-opentype'),
		url('fonts/icomoon.woff?s0gjph') format('woff'),
		url('fonts/icomoon.ttf?s0gjph') format('truetype'),
		url('fonts/icomoon.svg?s0gjph#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icomoon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sprout:before {
	content: "\e600";
}

.icon-analytics:before {
	content: "\e601";
}

.icon-study:before {
	content: "\e602";
}

.icon-vault:before {
	content: "\e603";
}

.icomoon-vault:before {
	content: "\e603";
}

