**/build.xml
**/.settings
**/target
**/.classpath
**/.project
**/.idea
**/rebel.xml
build.xml
.idea
.settings
.project
**/*.iml
*.iml
**/.sass-cache/**
**/.tmp/**
**/generated/**
.settings
.project
.DS_Store
