<div class="frontoffice-tab frontoffice-tab-admin">
    <legend>FrontOffice Authorizations</legend>
    <table class="table table-bordered" ng-show="users != undefined && users.length > 0">
        <thead class="appointments">
        <tr>
            <th style="width: 25%;">
                Practice
                <span ng-show="applicationAuthorities.length > 1">
                    <span class="dropdown">
                        <a class="dropdown-toggle btn btn-mini" style="float: right;"><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="onFilterByPractice()" ng-show="applicationAuthName.length > 0" prevent-default>ALL PRACTICES</a></li>
                            <li ng-repeat="value in applicationAuthorities">
                                <a ng-click="onFilterByPractice(value)" prevent-default>{{value.description}}</a>
                            </li>
                        </ul>
                    </span>

                    <div ng-show="applicationAuthName.length > 0" class="table-filter-value"><span class="label label-info">{{applicationAuthName}}</span>
                    </div>
                </span>
            </th>
            <th style="width: 15%;">Username</th>
            <th style="width: 50%;">Name</th>
            <th style="width: 10%; text-align: center;">Manager?</th>
            <th style="width: 10%; text-align: center;">Delete</th>
        </tr>
        </thead>
        <tr ng-repeat='user in users | filter: applicationAuthFilter' class="frontoffice-admin" >
            <td>{{user.applicationAuthName}}</td>
            <td>{{user.principal}}</td>
            <td>{{user.displayName}}</td>
            <td style="text-align: center;"><input type="checkbox" ng-model="user.manager" ng-change="updateManager(user)"/></td>
            <td style="text-align: center;"><input type="button" value="Delete" class="btn btn-mini" ng-click="delete(user)" /></td>
        </tr>
    </table>

    <a ng-href="#addauth" ng-show="users != undefined" class="btn btn-primary">Add Authorization</a>

    <div ng-show="users == undefined" class="alert alert-info">
        <h5>Loading FrontOffice Users.  Please wait...</h5>
    </div>
</div>
