<div class="sprout-study-admin-cohorts">
    <div ng-controller="cohortManagerController" class="sproutstudy-tab sproutstudy-tab-patient container">

        <div class="alert alert-error" ng-show="saveCohortMessage != undefined">
            <h4>{{saveCohortMessage}}</h4>
        </div>

        <legend>Cohorts:
            <span style="float: right;" ng-show="isAdmin() == 'true'">
                <a class="btn btn-primary" ng-click="onAddCohort()">Add Cohort</a>
            </span>
        </legend>

        <table class="table table-condensed table-striped" >
            <thead class="inbox">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Timestamp</th>
                <th style="text-align: center; width: 60px;">Authorizations</th>
                <th style="text-align: center; width: 60px;" ng-show="isAdmin() == 'true'">Delete</th>
            </tr>
            </thead>
            <tr ng-repeat="cohort in cohorts | filter: { active: true } | orderBy:name" >
                <td><a ng-click="onEditCohort(cohort)" class="edit">{{cohort.name}}</a></td>
                <td><a ng-click="onEditCohort(cohort)" class="edit">{{cohort.description}}</a></td>
                <td><a ng-click="onEditCohort(cohort)" class="edit">{{cohort.activityDate | date:'medium' }}</a></td>
                <td style="text-align: center; width: 80px;">
                    <button class="btn btn-mini" ng-click="onAuthCohort(cohort)" ><i class="fa fa-lock"></i> Auth</button>
                </td>
                <td style="text-align: center; width: 80px;" ng-show="isAdmin() == 'true'">
                    <button class="btn btn-mini" ng-click="onDeleteCohort(cohort)" >Delete</button>
                </td>
            </tr>
        </table>
    </div>

</div>
