<div ng-controller="cohortManagerController" class="sproutstudy-tab sproutstudy-tab-patient container">

    <legend>Add Cohort</legend>

    <form method="post" id="user" name="addCohort" novalidate autocomplete="false">

        <div class="alert alert-error" ng-show="saveCohortMessage != undefined">
            <h4>{{saveCohortMessage}}</h4>
        </div>

        <div class="control-group">
            <label class="control-label" for="name">Cohort Name</label>
            <div class="controls">
                <input ng-model="cohort.name" id="name" required  autocomplete="false"
                       class="field-label message-text" ng-change="getUser()" type="text" style="width: 20em;" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
                <textarea ng-model="cohort.description" id="description" required  autocomplete="false"
                       class="field-label message-text" style="width: 20em;" />
            </div>
        </div>

        <div class="form-actions">
            <button class="btn btn-primary" ng-click="onSaveCohort()" ng-disabled="cohort == undefined || cohort.name == undefined || cohort.name == ''">Submit</button>
            <a ng-href="#/cohorts" class="btn">Cancel</a>

        </div>

    </form>
</div>
