<iframe id="custodianAgreementFrame" src="about:blank" height="0" width="0" style="border: 0px;" >
</iframe>

<div id="custodianAgreementTemplate" style="display: none;">
    <span class="sent">

        <div align="center">
            <img src="images/mgh2.gif" /><br/><br/>
        </div>

        <hr/>

        {{patient.fullName}}<br/>
        {{patient.mrn}}<br/>
        {{patient.practice}}<br/>
        {{patient.provider}}<br/>
        {{formatDate(today)}}
        <br/><br/>

        <p><strong>Caregiver Agreement for Use of iHealthSpace</strong><br/></p>

        <p><strong>If the email provided belongs to a family member or caregiver, please review and sign Designation of and Consent for Caregiver for an {{brand}} iHealthSpace account below:</strong></p>

        <p><i>Please read the following statement and sign and print your name in the space provided below.)</i></p>

        <p>The following email/username___________________________________belongs to my <i>(circle one)</i> spouse/child/family/friend/caregiver
            ("Caregiver"), <i>(print name of Caregiver)</i> ______________________________________________.</p>

        <p>By checking the box above and signing below, I am authorizing this person to create and access on my behalf an iHealthSpace account
            and to help me manage my care with the {{brand}} through iHealthSpace.   If I choose to join another practice in iHealthSpace, I will designate the
            same Caregiver for that practice.</p>

        <p>I understand that my Caregiver will be able to access my health records and communicate with the {{brand}} on my behalf
            through iHealthSpace.  I am responsible for my Caregiver’s use of iHealthSpace and for his/her compliance with the iHealthSpace Terms of Use.
            If I wish to withdraw or modify in any way this authorization, I will immediately inform the {{brand}} verbally or by sending written notice to:
            Internal Medicine Associates, WACC-6th floor, Boston, MA 02114.</p>

        <p>I understand that this Designation and Consent does not constitute or replace a valid health care proxy.</p>

        <p>The IMA has provided me with the iHealthSpace Terms of Use and I have reviewed, understood and accepted them.</p>

        <p>Name of Patient_____________________________</p>

        <p>Signature of <i>(circle one)</i> Patient/Health Care Proxy/Legal Guardian_____________________</p>

        <p>Date_____________</p>

        <div align="center">
            <img src="images/ihs-logo.png" /><br/><br/>
        </div>
    </span>
</div>