<div id="studyControllerDiv" ng-controller="studyController" class="frontoffice-tab frontoffice-tab-patient">

<div ng-show="(cohort() == null || cohort().name.length == 0) && cohortLoaded == true">
    <div>
        <h3>Please pick a cohort</h3>
        <table class="table">
            <tr ng-repeat="cohort in cohorts | filter: { active: true }" style="background-color: #ffffff;">
                <td>
                    <h4>{{cohort.name}}</h4>
                </td>

                <td>
                    <button class="btn btn-primary" ng-click="chooseCohort(cohort)">Choose</button>
                </td>
            </tr>
        </table>
    </div>
</div>



    <div ng-show="subject.lastName != null && searchEnabled != true && cohort() != null && demographicFormContent == null" style="border-bottom: 1px #cacaca solid; margin: 5px 0 7px 0; padding-bottom: 7px;">

    <div style="display: block; text-align: right;">
            <span style="text-align: left; font-size: 17px; font-weight: bold; float: left">{{subject.prettyName}} ({{subject.id}})</span>
            <button ng-click="enableSearch()" class="btn btn-primary btn-mini" title="New Patient Search" ng-mouseover="expandSearchButton()" ng-mouseleave="collapseSearchButton()"><i class="icon-search icon-white" style="margin-right: 0px;"></i>{{searchButton}}</button>
            <button ng-show="hasNarrative && formLoaded" ng-click="onViewNarrative()" class="btn btn-warning btn-mini" title="View Narrative"><i class="fa fa-circle-o-notch"></i>{{narrativeButton}}</button>

            <span class="dropdown" >
                <button ng-click="openDeliverFormModal()" class="dropdown-toggle btn btn-success btn-mini" title="Deliver Form" ng-mouseover="expandNewFormButton()" ng-mouseleave="collapseNewFormButton()"><i class="icon-plus icon-white" style="margin-right: 0px;"></i>{{newFormButton}}</button>
                <ul class="dropdown-menu pull-right" style="font-size: 12px; text-align: left;">
                        <li ng-repeat="form in cohort().forms | filter: { demographic: false, active: true } | filterUnique:inbox | orderBy:name">
                        <a class="text text-info" ng-click="onDeliverForm(subject, form)" prevent-default>{{form.name}}</a>
                    </li>
                </ul>
            </span>
            <span class="dropdown" >
                <button ng-click="openDeliverFormModal()" class="dropdown-toggle btn btn-info btn-mini" title="Send Form" ng-mouseover="expandSendFormButton()" ng-mouseleave="collapseSendFormButton()"><i class="icon-envelope icon-white" style="margin-right: 0px;"></i>{{sendFormButton}}</button>
                <ul class="dropdown-menu pull-right" style="font-size: 12px; text-align: left;">
                    <li ng-repeat="form in cohort().forms | filter: { demographic: false, active: true } | filterUnique:inbox | orderBy:name">
                        <a class="text text-info" ng-click="onSendForm(subject, form)" prevent-default>{{form.name}}</a>
                    </li>
                </ul>
            </span>
        </div>
    </div>

    <form class="form-horizontal" ng-show="searchEnabled == true && cohort() != null && demographicFormContent == null && openingForm == false">
        <!--<div style="margin-bottom: 20px; border-bottom: #cdcdcd solid 0px; display: block;">-->
        <!--</div>-->
        <div class="control-group" style="margin-top: 30px;">
            <h3 style="text-align: right; float: right;">
                <span>Sprout<span style='color: #a6a6a6; font-style: normal;'>Study</span></span>
                <img style="width: 40px; height: 40px; margin-right: 12px;" src="/sproutstudy/images/sprout-study-60-2.png" alt="Sprout Study Logo" />
            </h3>
            <div >
                <label class="control-label" for="patientSearch" style="height: 35px; font-size: 17px; padding-top: 15px;">Search for Subject</label>
                <div class="controls" style="vertical-align: middle;">
                    <input type="text" class="input-xlarge search-query" style="height: 35px; font-size: 17px;" ng-model="query" id="patientSearch"/>
                    <button class="btn btn-large" ng-disabled="query.length == 0" ng-class="{'btn-primary': query.length > 0}" ng-click="findCohortMember()"><i class="icon-search icon-white"></i></button>
                    <button class="btn btn-large btn-success" ng-show="hasDemographicForm()" ng-click="addSubject()" ng-mouseover="expandAddSubjectButton()" ng-mouseleave="collapseAddSubjectButton()"><i class="icon-plus icon-white"></i>{{addSubjectButton}}</button>
                </div>

            </div>
        </div>

        <div id="tabPane">
            <div id="tabPane" style="margin-top: 40px;" ng-show="searchEnabled == true && cohort() != null && demographicFormContent == null && openingForm == false && searchReturned == false">

                <ul class="nav nav-tabs">
                    <li class="sprout-study-app-tab" tab="inbox" ng-class="{'active': defaultTab == 'inbox'}" context-menu="applicationTabContextMenu('inbox')">
                        <a href="#tab0" data-toggle="tab" ng-class="{'sprout-default-tab': defaultTab == 'inbox'}"><i class="icon-envelope" style="padding-right: 5px;" ></i>Inbox<i class="fa fa-star-o sprout-default-tab-icon" ng-show="defaultTab == 'inbox'"></i></a>
                    </li>
                    <li class="sprout-study-app-tab" tab="recentSubjects" ng-class="{'active': defaultTab == 'recentSubjects'}"  context-menu="applicationTabContextMenu('recentSubjects')">
                        <a href="#tab1" data-toggle="tab" ng-class="{'sprout-default-tab': defaultTab == 'recentSubjects'}"><i class="icon-time" style="padding-right: 5px;"></i>Recent Subjects<i class="fa fa-star-o sprout-default-tab-icon" ng-show="defaultTab == 'recentSubjects'"></i>
                        </a>
                    </li>
                    <li class="sprout-study-app-tab" tab="forms" ng-class="{'active': defaultTab == 'forms'}"  context-menu="applicationTabContextMenu('forms')">
                        <a href="#tab2" data-toggle="tab" ng-class="{'sprout-default-tab': defaultTab == 'forms'}"><i class="icon-list" style="padding-right: 5px;"></i>Forms<i class="fa fa-star-o sprout-default-tab-icon" ng-show="defaultTab == 'forms'"></i></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in" id="tab0" ng-class="{'active': defaultTab == 'inbox'}">
                        <div ng-show="message != null">
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label">From</label>
                                    <div class="controls box" style="min-width: 700px; margin-left: 10px;">
                                        {{message.sender.fullName}} <{{message.sender.email}}>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Message Subject</label>
                                    <div class="controls box" style="min-width: 700px; margin-left: 10px;">
                                        {{message.subject}}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Subject</label>
                                    <div class="controls box" style="min-width: 700px; margin-left: 10px;">
                                        {{message.subjectName}} ({{message.subjectId}})
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" >Message</label>
                                    <div class="controls box" style="min-height: 300px; min-width: 700px; margin-left: 10px;">
                                        {{message.body}}
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button class="btn" ng-click="closeMessage()">Close</button>
                                    <button class="btn btn-info" ng-click="onOpenStudyInboxForm(message)"><i class="icon-play icon-white" style="margin-right: 5px;"></i>Open Form</button>
                                </div>

                            </form>
                        </div>

                        <div class="" ng-show="(studyInbox | filter: { status.mutable: true }).length > 0 && demographicFormContent == null && openingForm == false && message == null">
                            <table class="table table-condensed table-striped" >
                                <thead class="inbox">
                                <tr>
                                    <th class="sortable" ng-click="studyInboxChangeSort('sender.fullName')">Sender<i ng-class="studyInboxSortClass('sender.fullName')" ng-style="{'margin-left': studyInboxSortStyle('sender.fullName')}" ></i></th>
                                    <th class="sortable" ng-click="studyInboxChangeSort('subjectName')">Subject<i ng-class="studyInboxSortClass('subjectName')" ng-style="{'margin-left': studyInboxSortStyle('subjectName')}"></i></th>
                                    <th class="sortable" ng-click="studyInboxChangeSort('formTitle')">Form<i ng-class="studyInboxSortClass('formTitle')" ng-style="{'margin-left': studyInboxSortStyle('formTitle')}"></i></th>
                                    <th class="sortable" ng-click="studyInboxChangeSort('deliveryDate')">Date<i ng-class="studyInboxSortClass('deliveryDate')" ng-style="{'margin-left': studyInboxSortStyle('deliveryDate')}"></i></th>
                                    <th class="sortable" ng-click="studyInboxChangeSort('status.code')">Status<i ng-class="studyInboxSortClass('status.code')" ng-style="{'margin-left': studyInboxSortStyle('status.code')}"></i></th>
                                    <th style="text-align: center; width: 60px;">Delete</th>
                                    <th style="text-align: center; width: 60px;">View<br/>Message</th>
                                    <th style="text-align: center; width: 60px;">Open<br/>Form</th>
                                </tr>
                                </thead>
                                <tr class="inbox-row" ng-repeat='message in studyInbox | filter: { status.mutable: true } | orderBy:studyInboxSort.column:studyInboxSort.descending' ng-class="{'inbox-new': message.status.code == 'NEW'}" >
                                    <td class="inbox-cell" ng-click="onOpenStudyInboxForm(message)">{{message.sender.fullName}}</a></td>
                                    <td class="inbox-cell" ng-click="onOpenStudyInboxForm(message)">{{message.subjectName}} ({{message.subjectId}})</td>
                                    <td class="inbox-cell" ng-click="onOpenStudyInboxForm(message)">{{message.formTitle}}</td>
                                    <td class="inbox-cell" ng-click="onOpenStudyInboxForm(message)">{{message.deliveryDate | date:'medium' }}</td>
                                    <td class="inbox-cell" ng-click="onOpenStudyInboxForm(message)">{{message.status.code}}</td>
                                    <td style="text-align: center; width: 80px;">
                                        <button class="btn btn-mini btn-warning" ng-click="onDeleteStudyInboxForm(message)"><i class="icon-trash icon-white" style="margin-right: 0px;"></i></button>
                                    </td>
                                    <td style="text-align: center; width: 80px;">
                                        <button class="btn btn-info btn-mini" ng-click="onOpenMessage(message)"><i class="icon-envelope icon-white" style="margin-right: 0px;"></i></button>
                                    </td>
                                    <td style="text-align: center; width: 80px;">
                                        <button class="btn btn-info btn-mini" ng-click="onOpenStudyInboxForm(message)"><i class="icon-play icon-white" style="margin-right: 0px;"></i></button>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="alert alert-info" ng-show="studyInbox == undefined && demographicFormContent == null && openingForm == false">Loading Inbox...</div>
                        <div class="alert alert-info" ng-show="(studyInbox | filter: { status.mutable: true }).length == 0 && demographicFormContent == null && openingForm == false">You have no messages in your inbox.</div>
                    </div>
                    <div class="tab-pane fade in" id="tab1" ng-class="{'active': defaultTab == 'recentSubjects'}">
                        <div class="" ng-show="recentCohortMembers != undefined && searchEnabled == true && cohort() != null && demographicFormContent == null && openingForm == false && (patientMatches.length == undefined || patientMatches.length < 1)">
                            <table style="width: 100%;" class="table table-condensed table-striped">
                                <tr ng-repeat="subject in recentCohortMembers">
                                    <td>
                                        <div class="container" style="width: 600px; float: left;">
                                            <div class="span3" style="padding: 0px; margin: 10px;"><h4>{{subject.firstName}} {{subject.lastName}} ({{subject.id}})</h4>
                                                <div style="color: #6a6a6a; padding-left: 20px;">Gender: {{subject.gender}}</div>
                                                <div style="color: #6a6a6a; padding-left: 20px;">Date of Birth: {{subject.birthDate | date:'mediumDate'}}</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: middle;">
                                        <button class="btn btn-info" ng-click="chooseCohortMember(subject)"><i class="icon-check icon-white" style="margin-right: 7px;"></i>Choose</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="alert alert-info" ng-show="recentCohortMembers.length == 0 && demographicFormContent == null && openingForm == false">You have no recent subjects.</div>

                    </div>
                    <div class="tab-pane fade in" id="tab2" style="min-height: 500px; "ng-class="{'active': defaultTab == 'forms'}">
                        <div class="" ng-show="(allForms.length > 0 || allFormsFilterFormPublicationKey != null || allFormsFilterStatus != null || allFormsFilterAssignment != null || allFormsFilterTargetDate != null) && demographicFormContent == null && openingForm == false" >

                            <div style="float: right;">
                                <div ng-show="filterChanged">
                                    <a href="" ng-click="onSaveDefaultFilter()" ><i class="fa fa-floppy-o"></i> Save as Default Filter</a>
                                </div>
                            </div>

                            <table class="table table-condensed table-striped" >
                                <thead class="inbox">
                                <tr>
                                    <th>Subject</th>
                                    <th>
                                        <span class="dropdown sprout-dropdown-header">
                                            <span>Forms<span ng-show="allFormsFilterFormTitle != null">:<br/><span class="badge badge-info">{{allFormsFilterFormTitle}}<span ng-click="clearFilterForm()" style="margin-left: 5px;" class="sprout-study-badge-close"><i class="fa fa-times-circle"></i></span></span></span></span>
                                            <a class="dropdown-toggle btn btn-mini" style="margin-left: 8px;"><b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a ng-click="onFilterByFormAll()" prevent-default>ALL FORMS</a></li>
                                                <li ng-repeat="form in cohort().forms | filter: { active: true } | orderBy:name">
                                                    <a ng-click="onFilterByFormAll(form)" prevent-default>{{form.name}}</a>
                                                </li>
                                            </ul>
                                        </span>
                                    </th>
                                    <th><span class="sortable" ng-click="allFormsChangeSort('date_of_entry')">Delivery Date<i ng-class="allFormsSortClass('date_of_entry')" ng-style="{'margin-left': mutableFormsSortStyle('date_of_entry')}" ></i></span></th>
                                    <th ng-show="assignments.length > 1">
                                        <span class="dropdown sprout-dropdown-header">
                                            <span>Assigned To<span ng-show="allFormsFilterAssignment != undefined">:<br/><span class="badge badge-info">{{allFormsFilterAssignment.name}}<span ng-click="clearFilterAssignment()" style="margin-left: 5px;" class="sprout-study-badge-close"><i class="fa fa-times-circle"></i></span></span></span></span>
                                            <a class="dropdown-toggle btn btn-mini" style="margin-left: 8px;"><b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a ng-click="onFilterByAssignmentAll()" ng-show="assignments.length > 0" prevent-default>ALL ASSIGNMENTS</a></li>
                                                <li ng-repeat="assignment in assignments">
                                                    <a ng-click="onFilterByAssignmentAll(assignment)" prevent-default>{{assignment.name}}</a>
                                                </li>
                                            </ul>
                                        </span>
                                    </th>
                                    <th>
                                        <span class="dropdown sprout-dropdown-header">
                                            <span class="" ng-click="mutableFormsChangeSort('inboxStatus')">Status<span ng-show="allFormsFilterStatus != null">:<br/><span class="badge badge-info">{{allFormsFilterStatus}}<span ng-click="clearFilterStatus()" style="margin-left: 5px;" class="sprout-study-badge-close"><i class="fa fa-times-circle"></i></span></span></span><i ng-class="allFormsSortClass('inboxStatus')" ng-style="{'margin-left': mutableFormsSortStyle('inboxStatus')}" ></i></span>
                                            <a class="dropdown-toggle btn btn-mini" style="margin-left: 8px;"><b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a ng-click="onFilterByStatusAll()" ng-show="activeSproutInboxStatuses.length > 0" prevent-default>ALL STATUSES</a></li>
                                                <li ng-repeat="status in activeSproutInboxStatuses">
                                                    <a ng-click="onFilterByStatusAll(status)" prevent-default>{{status.name}}</a>
                                                </li>
                                            </ul>
                                        </span>
                                    </th>
                                    <th ng-show="allFormsMetadata.hasStudyDates">
                                        <span class="dropdown sprout-dropdown-header">
                                            <span class="">Study Date<span ng-show="allFormsFilterTargetDate != null">:<br/><span class="badge badge-info">{{allFormsFilterTargetDate}}<span ng-click="clearFilterTargetDate()" style="margin-left: 5px;" class="sprout-study-badge-close"><i class="fa fa-times-circle"></i></span></span></span></span>
                                            <input type="text" class="input-small date datepicker" ng-model="allFormsFilterTargetDateProxy" data-model-date-format="mm/dd/yyyy" data-date-format="mm/dd/yyyy" autoclose="true" style="margin-bottom: 0px; display: none;" bs-datepicker />
                                            <button  type="button" class="btn btn-mini" data-toggle="datepicker" style="margin-left: 8px;"><i class="icon-calendar"></i></button>
                                        </span>
                                    </th>
                                    <!--<th><span class="sortable" ng-click="allFormsChangeSort('date_of_status')">Status Date<i ng-class="allFormsSortClass('date_of_status')" ng-style="{'margin-left': mutableFormsSortStyle('date_of_status')}" ></i></span></th>-->
                                    <th style="text-align: center; width: 100px;">Open Form</th>
                                </tr>
                                </thead>
                                <tr ng-repeat='form in allForms | filter: formFilter ' ng-class="{'inbox-row': !form.locked, 'unknown': form.identityFullName == 'Unknown'}"  >
                                    <td class="inbox-cell" ng-click="form.locked || onOpenMutableForm(form)">{{form.identityFullName}} ({{form.identityPrimaryId}})</td>
                                    <td class="inbox-cell" ng-click="form.locked || onOpenMutableForm(form)">{{form.title}}</a></td>
                                    <td class="inbox-cell" ng-click="form.locked || onOpenMutableForm(form)">{{form.deliveryDate | date:'medium' }}</td>

                                    <td class="inbox-cell" ng-click="form.locked || onOpenMutableForm(form)" ng-show="assignments.length > 1">
                                        <ul style="list-style-type: none;" ng-show="form.inboxProxies.length > 0">
                                            <li ng-repeat="proxy in form.inboxProxies">{{proxy.assignedToDisplayName}}</li>
                                        </ul>
                                    </td>

                                    <td class="inbox-cell" ng-click="form.locked || onOpenMutableForm(form)">
                                        <span ng-show="form.inboxProxies.length == 0">{{form.inboxStatus}}</span>
                                        <ul style="list-style-type: none;" ng-show="form.inboxProxies.length > 0">
                                            <li ng-repeat="proxy in form.inboxProxies">{{proxy.status}}</li>
                                        </ul>
                                    </td>
                                    <td class="inbox-cell" ng-click="form.locked || onOpenMutableForm(form)" ng-show="allFormsMetadata.hasStudyDates">{{form.targetDate | date:'medium' }}</td>
                                    <!--<td class="inbox-cell" ng-click="onOpenMutableForm(form)">{{form.statusDate | date:'medium' }}</td>-->
                                    <td style="text-align: center; width: 80px;">
                                        <button class="btn btn-info btn-mini" ng-click="form.locked || onOpenMutableForm(form)" ng-show="!form.locked"><i class="icon-play icon-white" style="margin-right: 0px;"></i></button>
                                        <button class="btn btn-warning btn-mini" ng-click="onOpenMutableForm(form)" ng-show="form.locked && 1 == 2"><i class="icon-play icon-white" style="margin-right: 0px;"></i></button>
                                        <span ng-show="form.locked"><i class="fa fa-lock"></i></span>
                                    </td>
                                </tr>
                            </table>
                            <div style="text-align: center;" ng-show="allForms.length > 0 && allFormsPageCount > 1">
                                <button class="btn btn-mini" ng-disabled="allFormsCurrentPage == 1" ng-class="{'btn-primary': allFormsCurrentPage > 1}" ng-click="allFormsFirstPage()"><i class="icon-fast-backward icon-white" style="margin-left: 0px;"></i></button>
                                <button class="btn btn-mini" ng-disabled="allFormsCurrentPage == 1" ng-class="{'btn-primary': allFormsCurrentPage > 1}" ng-click="allFormsPreviousPage()"><i class="icon-backward icon-white" style="margin-left: 0px;"></i></button>
                                Page {{allFormsCurrentPage}} of {{allFormsPageCount}}
                                <button class="btn btn-mini" ng-disabled="allFormsCurrentPage == allFormsPageCount" ng-class="{'btn-primary': allFormsCurrentPage < allFormsPageCount}" ng-click="allFormsNextPage()"><i class="icon-forward icon-white" style="margin-left: 0px;"></i></button>
                                <button class="btn btn-mini" ng-disabled="allFormsCurrentPage == allFormsPageCount" ng-class="{'btn-primary': allFormsCurrentPage < allFormsPageCount}" ng-click="allFormsLastPage()"><i class="icon-fast-forward icon-white" style="margin-left: 0px;"></i></button>
                            </div>
                        </div>
                        <div class="alert alert-info" ng-show="allForms == undefined && demographicFormContent == null && openingForm == false">Loading Forms...</div>
                        <div class="alert alert-info" ng-show="allForms.length == 0 && demographicFormContent == null && openingForm == false">No forms found.</div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="sproutstudy-content sproutstudy-content-home" ng-show="cohort() != null && demographicFormContent == null">

        <div class="alert alert-info span10" style="margin-top: 20px;" ng-show="searchInprogress == true">
            <h4>Searching for subjects. Please wait...</h4>
        </div>

        <div class="span10" ng-show="patientMatches != undefined && demographicFormContent == null">
            <div style="width: 100%;">
                <div style="margin-top: 20px;" class="alert alert-success" ng-show="patientMatches.length == 0 && addSubjectInd == false">
                    <h4>No subjects found.</h4>
                    <div style="margin-top: 25px;" ng-show="hasDemographicForm()">
                        <button class="btn btn-success" ng-click="addSubject()"><i class="icon-plus icon-white" style="margin-right: 7px;"></i>Add New Subject</button>
                    </div>
                </div>
                <div style="margin-top: 20px;" class="alert alert-success" ng-show="patientMatches.length == 0 && addSubjectInd">
                    <h4>Adding new subject.  Please search again once you have finished adding the new subject.</h4>
                </div>

                <h4 ng-show="patientMatches.length > 0">Search Results:</h4>

                <div class="patient-verification-search-results" class="well" style="margin-top: 20px;" ng-show="patientMatches.length > 0">
                    <table style="width: 100%;" class="table table-condensed table-striped">
                        <tr ng-repeat="subject in patientMatches">
                            <td>
                                <div class="container" style="width: 600px; float: left;">
                                    <div class="row">
                                        <div class="span2" style="padding: 0px;">First Name:</div>
                                        <div class="span3" style="padding: 0px;">{{subject.firstName}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="span2">Last Name:</div>
                                        <div class="span3">{{subject.lastName}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="span2">Id:</div>
                                        <div class="span3">{{subject.id}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="span2">Gender:</div>
                                        <div class="span3">{{subject.gender}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="span2">Date of Birth:</div>
                                        <div class="span3">{{subject.birthDate | date:'longDate'}}</div>
                                    </div>
                                </div>
                            </td>
                            <td style="vertical-align: middle;">
                                <button class="btn btn-info" ng-click="chooseCohortMember(subject)"><i class="icon-check icon-white" style="margin-right: 7px;"></i>Choose</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <span ng-show="patientMatches.length > 0">
                    <button class="btn btn-success" ng-show="hasDemographicForm()" ng-click="addSubject()"><i class="icon-plus icon-white" style="margin-right: 7px;"></i>Add New Subject</button>
                </span>
                <div class="btn-toolbar" style="text-align: center;">
                    <div class="btn-group btn-group-horizontal">
                        <button ng-click="onPreviousPage()" class="btn" ng-show="page > 0">Previous</button>
                        <button ng-click="onNextPage()" class="btn btn-primary" ng-hide="patientMatches.length < 10">Next</button>
                    </div>
                </div>

            </div>
        </div>

        <div ng-show="cohort() != null && subject.lastName != null && demographicFormContent == null">
            <div class="alert alert-success" ng-show="inbox == 1">
                <h4>Loading forms. Please wait...</h4>
            </div>

            <div class="alert alert-info" ng-show="inbox.length == 0">
                <h4>No forms found for this subject.</h4>
            </div>
        </div>

        <div class="" ng-show="inbox.length > 0 && demographicFormContent == null && openingForm == false">
            <h4>Forms</h4>
            <table class="table table-condensed table-striped" >
                <thead class="inbox">
                <tr>
                    <th class="sortable" ng-click="formsChangeSort('title')">Name<i ng-class="formsSortClass('title')" ng-style="{'margin-left': formsSortStyle('title')}" ></i></th>
                    <th class="sortable" ng-click="formsChangeSort('deliveryDate')">Delivery Date<i ng-class="formsSortClass('deliveryDate')" ng-style="{'margin-left': formsSortStyle('deliveryDate')}" ></i></th>
                    <th ng-show="assignments.length > 1">
                        <span class="dropdown sprout-dropdown-header">
                            <span>Assigned To<span ng-show="assignment != undefined">:<br/><span class="badge badge-info">{{assignment.name}}<span ng-click="onFilterByAssignment()" style="margin-left: 5px;" class="sprout-study-badge-close"><i class="fa fa-times-circle"></i></span></span></span></span>
                            <a class="dropdown-toggle btn btn-mini" style="margin-left: 8px;"><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="onFilterByAssignment()" ng-show="assignments.length > 0" prevent-default>ALL ASSIGNMENTS</a></li>
                                <li ng-repeat="assignment in assignments">
                                    <a ng-click="onFilterByAssignment(assignment)" prevent-default>{{assignment.name}}</a>
                                </li>
                            </ul>
                        </span>
                    </th>
                    <th class="sortable" ng-click="formsChangeSort('inboxStatus')">
                    <span class="dropdown">
		                <span>Status<i ng-class="formsSortClass('inboxStatus')" ng-style="{'margin-left': formsSortStyle('inboxStatus')}" ></i><span ng-show="status != undefined">:<br/><span class="badge badge-info">{{status.name}}<span ng-click="onFilterByStatus(); $event.stopPropagation();" style="margin-left: 5px;" class="sprout-study-badge-close"><i class="fa fa-times-circle"></i></span></span></span></span>
		                <a class="dropdown-toggle btn btn-mini" style="margin-left: 8px;"><b class="caret"></b></a>
		                <ul class="dropdown-menu">
                            <li><a ng-click="onFilterByStatus()" ng-show="statuses.length > 0" prevent-default>ALL STATUSES</a></li>
                            <li ng-repeat="status in activeSproutInboxStatuses">
                                <a ng-click="onFilterByStatus(status)" prevent-default>{{status.name}}</a>
                            </li>
                        </ul>
		            </span>
                    </th>
                    <th ng-show="allFormsMetadata.hasStudyDates">
                        <span class="dropdown sprout-dropdown-header">
                            <span class="">Study Date<span ng-show="targetDate != null">:<br/><span class="badge badge-info">{{targetDate}}<span ng-click="clearTargetDate()" style="margin-left: 5px;" class="sprout-study-badge-close"><i class="fa fa-times-circle"></i></span></span></span></span>
                            <input type="text" class="input-small date datepicker" ng-model="targetDateProxy" data-model-date-format="mm/dd/yyyy" data-date-format="mm/dd/yyyy" autoclose="true" style="margin-bottom: 0px; display: none;" bs-datepicker />
                            <button  type="button" class="btn btn-mini" data-toggle="datepicker" style="margin-left: 8px;"><i class="icon-calendar"></i></button>
                        </span>
                    </th>
                    <!--<th class="sortable" ng-click="formsChangeSort('statusDate')">Status Date<i ng-class="formsSortClass('statusDate')" ng-style="{'margin-left': formsSortStyle('statusDate')}" ></i></th>-->
                    <!--<th style="text-align: center; width: 60px;">Delete</th>-->
                    <th style="text-align: center; width: 60px;">Open</th>
                </tr>
                </thead>
                <tr ng-class="{'inbox-row': !form.locked}" ng-repeat='form in filtered = (inbox | filter: formFilter | orderBy:formsSort.column:formsSort.descending)' >
                    <td class="inbox-cell" ng-click="form.locked || onOpenForm(form)">{{form.title}}</a></td>
                    <td class="inbox-cell" ng-click="form.locked || onOpenForm(form)">{{form.deliveryDate | date:'medium' }}</td>
                    <td class="inbox-cell" ng-click="form.locked || onOpenForm(form)" ng-show="assignments.length > 1">
                        <ul style="list-style-type: none;" ng-show="form.inboxProxies.length > 0">
                            <li ng-repeat="proxy in form.inboxProxies">{{proxy.assignedToDisplayName}}</li>
                        </ul>
                    </td>

                    <td class="inbox-cell" ng-click="form.locked || onOpenForm(form)">
                        <span ng-show="form.inboxProxies.length == 0">{{form.inboxStatus}}</span>
                        <ul style="list-style-type: none;" ng-show="form.inboxProxies.length > 0">
                            <li ng-repeat="proxy in form.inboxProxies">{{proxy.status}}</li>
                        </ul>
                    </td>
                    <td class="inbox-cell" ng-click="form.locked || onOpenForm(form)" ng-show="allFormsMetadata.hasStudyDates">{{form.targetDate | date:'medium' }}</td>
                    <!--<td class="inbox-cell" ng-click="onOpenForm(form)">{{form.statusDate | date:'medium' }}</td>-->
                    <!--<td style="text-align: center; width: 80px;">-->
                        <!--<button class="btn btn-warning btn-mini" ng-click="onDeleteSubmission(form.instanceId)"><i class="icon-trash icon-white" style="margin-right: 0px;"></i></button>-->
                    <!--</td>-->
                    <td style="text-align: center; width: 80px;">
                        <button class="btn btn-info btn-mini" ng-click="form.locked || onOpenForm(form)" ng-show="!form.locked"><i class="icon-play icon-white" style="margin-right: 0px;"></i></button>
                        <span ng-show="form.locked"><i class="fa fa-lock"></i></span>
                    </td>
                </tr>
            </table>
            <div class="alert alert-info" ng-show="inbox == undefined && demographicFormContent == null && openingForm == false">Loading Forms...</div>
            <div class="alert alert-info" ng-show="filtered.length == 0 && demographicFormContent == null && openingForm == false">No forms found for this subject which match your filter.</div>
        </div>

        <!--<div class="alert alert-info" ng-show="openingForm && demographicFormContent == null">-->
            <!--<h4>Opening form...please wait...</h4>-->
        <!--</div>-->

    </div>

    <div ng-show="cohort() != null && demographicFormContent != null" ng-bind-html-unsafe="demographicFormContent" />

<!--<button ng-click="testSendMessageModal()" class="btn btn-success">test send message modal</button>-->

    <div modal="sendMessageModal" close="onCloseSendMessageModal()" options="modalSmallOpts">
        <div class="modal-header">
            <h4>Send Form Notification</h4>
        </div>
        <div class="modal-body modal-body-short">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="sendFormMessageSendTo">Send to</label>
                    <div class="controls">
                        <select id="sendFormMessageSendTo" multiple="multiple" ng-model="messageTo" ng-options="authorization.user.fullName for authorization in cohortAuthorizations | orderBy: 'user.fullName'"></select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="sendFormMessageMessage">Message</label>
                    <div class="controls">
                        <textarea id="sendFormMessageMessage" style="min-width: 500px; min-height: 70px" ng-model="messageText" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="alert alert-block"><h4>Warning!</h4>This message will be sent via email.  Please do not enter patient identifable information in the message.</div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn cancel" ng-click="onCloseSendMessageModal()">Don't Send</button>
            <button class="btn btn-primary" ng-disabled="messageTo == undefined || messageTo == null || messageTo.length == 0 || messageText == undefined || messageText == null || messageText.length == 0 || sendingMessage" ng-click="onSendMessage()">{{sendMessageButtonText}}</button>
        </div>
    </div>

    <div modal="deleteFormModal" close="onCloseDeleteFormModal()" options="modalSmallOpts">
        <div class="modal-header">
            <h4>Delete Form?</h4>
        </div>
        <div class="modal-body modal-body-short">
            <h4>{{deleteMessageText}}</h4>
        </div>
        <div class="modal-footer">
            <button class="btn cancel" ng-click="onCloseDeleteFormModal()">Cancel</button>
            <button class="btn btn-primary" ng-disabled="deletingForm" ng-click="onDeleteForm()">{{deleteFormButtonText}}</button>
        </div>
    </div>

    <div modal="errorFormModal" close="onCloseErrorModal()" options="modalSmallOpts">
        <div class="modal-header">
            <h3 style="color: #b94a48;">Error</h3>
        </div>
        <div class="modal-body modal-body-short">
            <h4>{{errorMessageText}}</h4>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-disabled="deletingForm" ng-click="onCloseErrorModal()">Close</button>
        </div>
    </div>
</div>



<iframe id="printFormFrame" src="about:blank" height="0" width="0" style="border: 0px;" >
</iframe>
