<div>
    <bg-splitter orientation="horizontal">
        <bg-pane min-size="100" init-size="365" style="background-color: #efefef;">
            <bg-splitter orientation="vertical">
                <bg-pane min-size="50" class="sprout-transform-form-pane">
                    top left
                </bg-pane>
                <bg-pane min-size="50" class="sprout-transform-model-pane">
                    bottom left
                </bg-pane>
            </bg-splitter>
        </bg-pane>
        <bg-pane min-size="150">
            <bg-splitter orientation="vertical">
                <bg-pane min-size="50" class="sprout-transform-template-pane">
                    top right
                </bg-pane>
                <bg-pane min-size="50" class="sprout-vault-narrative-pane">
                    bottom right
                </bg-pane>
            </bg-splitter>
        </bg-pane>
    </bg-splitter>



</div>
