<div id="transformControllerDiv">

    <bg-splitter orientation="horizontal" style="margin-top: 40px;">
        <bg-pane min-size="100" init-size="600">
            <bg-splitter orientation="vertical">
                <bg-pane min-size="50" class="sprout-transform-form-pane">
                    <div id="sproutTransformFormContent" class="sprout-transform-drag-dimme"/>
                </bg-pane>
                <bg-pane min-size="50" class="sprout-transform-model-pane">
                    <div ng-show="formLoaded">
                        <div class="sprout-transform-model-toolbar">
                            <div class="btn-group">
                                <button class="btn" title="Reload Model" ng-click="onReloadModel()"><i class="fa fa-refresh"></i></button>
                                <button class="btn" title="Live Sync" ng-click="onToggleSyncModel()" ng-class="{'btn-success': syncModel}"><i class="fa fa-arrows-v"></i></button>
                                <button class="btn" title="Custom Attributes" ng-click="onOpenCustomAttributeModal()"><i class="fa fa-pencil"></i></button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-language" aria-hidden="true"></i>
                                    <!--<span class="caret"></span>-->
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="changeLocale('en')" class="sproutstudy-tab-button">English</a></li>
                                    <li><a ng-click="changeLocale('es')" class="sproutstudy-tab-button">Spanish</a></li>
                                    <li class="divider"></li>
                                    <li><a ng-click="onOpenTranslationsModal()" class="sproutstudy-tab-button">Translations</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <label class="sprout-transform-toolbar-select-label">Model</label>
                            </div>
                        </div>
                        <pre id="sproutTransformModelContent" class="sprout-transform-model-content"/>
                    </div>
                    <div style="line-height: 300px; text-align: center;" ng-show="formLoaded == false">
                        <span class="badge badge-info sprout-form-loading"><i class="fa fa-refresh fa-spin sprout-form-loading"></i><span class="sprout-form-loading-message">Loading form...please wait...</span></span>
                    </div>
                </bg-pane>
            </bg-splitter>
        </bg-pane>
        <bg-pane min-size="150">
            <bg-splitter orientation="vertical">
                <bg-pane min-size="50" class="sprout-transform-template-pane">
                    <div style="line-height: 300px; text-align: center;" ng-show="formLoaded == false">
                        <span class="badge badge-info sprout-form-loading"><i class="fa fa-refresh fa-spin sprout-form-loading"></i><span class="sprout-form-loading-message">Loading form...please wait...</span></span>
                    </div>
                    <div ng-show="formLoaded">
                        <div class="sprout-transform-template-editor" ng-model="template" ui-ace="{
                        advanced: {
                            enableSnippets: true,
                            enableBasicAutocompletion: true,
                            enableLiveAutocompletion: true
                        },
                        useWrapMode : false,
                        showGutter: true,
                        theme:'chrome',
                        mode: 'handlebars',
                        firstLineNumber: 1,
                        onLoad: aceLoaded,
                        onChange: aceChanged
                        }"></div>
                    </div>

                </bg-pane>
                <bg-pane min-size="50" class="sprout-transform-narrative-pane">
                    <div style="line-height: 300px; text-align: center;" ng-show="formLoaded == false">
                        <span class="badge badge-info sprout-form-loading"><i class="fa fa-refresh fa-spin sprout-form-loading"></i><span class="sprout-form-loading-message">Loading form...please wait...</span></span>
                    </div>
                    <div ng-show="formLoaded">
                        <div class="sprout-transform-template-toolbar">
                            <div class="btn-group">
                                <button class="btn" title="Save" ng-click="onSaveTemplate()" ng-dblclick="toggleAutoSave()" ng-class="{'btn-primary': templateHasChanges && autosave == false, 'btn-success': autosave}"><i class="fa fa-save"></i></button>
                                <button class="btn" title="View as Text" ng-click="onViewAsText()"><i class="fa fa-file-text"></i></button>
                                <button class="btn" title="View as PDF" ng-click="onViewAsPDF()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
                                <button class="btn" title="View Server Version" ng-click="onViewFromServer()"><i class="fa fa-external-link"></i></button>
                                <button class="btn" title="Reload Narrative" ng-click="onReloadNarrative()"><i class="fa fa-refresh"></i></button>
                                <button class="btn" title="Live Sync" ng-click="onToggleSyncNarrative()" ng-class="{'btn-success': syncNarrative}"><i class="fa fa-arrows-v"></i></button>
                            </div>
                            <div class="btn-group">
                                <label class="sprout-transform-toolbar-select-label">Narrative<span ng-show="templateError" class="sprout-transform-template-error" ng-click="showTemplateError()"><i class="fa fa-exclamation-triangle" style="padding-left: 10px;" rel="popover"></i></span></label>

                            </div>
                            <span class="label label-success sprout-transform-save-success" style="float: right; margin-top: 5px;" ng-show="templateSavedSuccessfully"><i class="fa fa-save"></i> Template saved successfully.</span>
                            <span class="label label-warning sprout-transform-save-success" style="float: right; margin-top: 5px;" ng-show="templateAutosavedSuccessfully"><i class="fa fa-save"></i> Template auto-saved.</span>
                        </div>
                        <div id="sproutTransformNarrativeContent" class="sprout-transform-narrative-content" ng-dblclick="onReloadNarrative()"/>
                    </div>
                </bg-pane>
            </bg-splitter>
        </bg-pane>
    </bg-splitter>





    <div modal="textViewModal" close="onCloseTextViewModal()" options="modalSmallOpts">
        <div class="modal-header">
            <h4>Text View</h4>
        </div>
        <div class="modal-body modal-body-short">

            <pre style="min-width: 550px; min-height: 300px" >{{narrativeText}}</pre>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary cancel" ng-click="onCloseTextViewModal()">Close</button>
        </div>
    </div>
    <div modal="pdfViewModal" close="onClosePDFViewModal()" options="modalSmallOpts">
        <div class="modal-header">
            <h4>PDF Viewer</h4>
        </div>
        <div class="modal-body">

            <div ng-show="!pdfLoading && !pdfLoadingError">
                <!--<iframe src="/sproutstudy/assets/other/blank.pdf" style="min-width: 750px; min-height: 450px; border: none;" id="pdfViewContainer" >-->
                <iframe src="" style="min-width: 750px; min-height: 450px; border: none;" id="pdfViewContainer" >
                    Loading...please wait...
                </iframe>
            </div>

            <div class="alert alert-info" ng-show="pdfLoading">
                <h4>Loading...please wait...this can take a while...</h4>
            </div>
            <div class="alert alert-error" ng-show="pdfLoadingError">
                <h4>{{pdfLoadingError}}</h4>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary cancel" ng-click="onClosePDFViewModal()">Close</button>
        </div>
    </div>
    <div modal="narrativeServerViewModal" close="onCloseNarrativeServerViewModal()" options="modalWideOpts">
        <div class="modal-header">
            <h4>Client/Server Narrative Comparison</h4>
        </div>
        <div class="modal-body modal-body-short" style="min-height: 450px;">
            <bg-splitter orientation="horizontal">
                <bg-pane min-size="50" class="sprout-transform-template-pane-2">
                    <h4 class="compare-background">Client Narrative</h4>
                    <div style="" ng-bind-html-unsafe="narrativeHtmlClient"></div>
                </bg-pane>
                <bg-pane min-size="50" class="sprout-transform-narrative-pane-2">
                    <h4 class="compare-background">Server Narrative</h4>
                    <div style="" ng-bind-html-unsafe="narrativeHtmlServer"></div>
                </bg-pane>
            </bg-splitter>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary cancel" ng-click="onCloseNarrativeServerViewModal()">Close</button>
        </div>
    </div>
    <div modal="customAttributeModal" close="onCloseCustomAttributeModal()" options="modalSmallOpts">
        <div class="modal-header">
            <h4>Custom Attributes</h4>
        </div>
        <div class="modal-body modal-body-short" style="min-height: 450px;">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Delete</th>
                </tr>
                <tr ng-repeat="customAttribute in customAttributes">
                    <td><input name="name" ng-model="customAttribute.name"></input></td>
                    <td><input name="value" ng-model="customAttribute.value"></input></td>
                    <td><button class="btn btn-danger btn-mini" ng-click="onDeleteCustomAttribute($index)">Delete</button></td>
                </tr>
            </table>
            <button class="btn btn-primary" ng-click="onAddCustomAttribute()">Add</button>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary cancel" ng-click="onCloseCustomAttributeModal()">Close</button>
        </div>
    </div>
    <div modal="translationsModal" close="onCloseTranslationsModal()" options="modalSmallOpts">
        <div class="modal-header">
            <h4>Translations
                <span style="float: right"><input name="translationsFilter" placeholder="filter..." ng-model="translationsFilter"></input></span>
            </h4>
        </div>
        <div class="modal-body modal-body-short" id="translationsModalMapper" style="min-height: 450px;">
            <table class="table table-bordered table-striped">
                <tr>
                    <th style="width: 216px;">Key</th>
                    <th style="width: 100%;">Value</th>
                </tr>
                <tr ng-repeat="translation in translations|filter: translationsFilter">
                    <td style="width: 216px;">
                        <input name="name" ng-model="translation.key"></input>
                        <br/><i class="fa fa-trash-o" aria-hidden="true" style="cursor: pointer;" ng-click="onDeleteTranslation($index)"></i>
                    </td>
                    <td>
                        <div ng-repeat="locale in translation.locales">
                            <h5>{{locale.locale.name}}</h5>
                            <textarea name="localeValue" ng-model="locale.message" style="width: 95%"></textarea>
                        </div>
                    </td>
                </div>
            </table>
        </div>
        <div class="modal-footer">
            <span style="float: left">
                <button class="btn btn-primary" style="width: 100px;" ng-click="onAddTranslation()">Add</button>
                <div class="btn-group">
                    <button class="btn btn-default" ng-disabled="!translations" ng-click="onExportTranslations()" title="Export"><i class="fa fa-download" aria-hidden="true"></i></button>
                    <button class="btn btn-default" ng-click="onImportTranslations()" title="Import"><i class="fa fa-upload" aria-hidden="true"></i></button>
                </div>
            </span>
            <span style="position: absolute; left: -10000px;">
                <input type="file" id="csvFileInput" ng-file-select="onFileSelect($files)" >
            </span>
            <button class="btn btn-primary cancel" ng-click="onCloseTranslationsModal()">Close</button>
        </div>
    </div>


</div>

